tokit/XDSToolkit_1.03/sample/ItemProp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This file was generated by the XDS toolkit utility 'xdsMakeSchema'
     For more information about the XDS toolkit see the XDS Resources
     web page at "http://www.suddenpresence.com/xds" -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:complexType name="ItemProp" final="#all">
		<xs:sequence>
			<xs:element name="Id" type="xs:unsignedByte"/>
			<xs:element name="IsElite" type="xs:unsignedByte"/>
			<xs:element name="GoldCost" type="xs:unsignedByte"/>
			<xs:element name="Exp" type="xs:unsignedByte"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="_xdsType1" final="#all">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="entry" type="ItemProp"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ItemProps">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ItemPro">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:group ref="_xdsGlobalElements"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:group name="_xdsGlobalElements">
		<xs:choice>
			<xs:element name="g_ItemProps" type="_xdsType1"/>
		</xs:choice>
	</xs:group>
</xs:schema>
